.trendingProducts{
    background: #CECE5A;
    margin: 100px 100px;
    border-radius: 5%;


    .top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 50px;
        
        h1{
            flex: 2;
            text-transform: capitalize;
            text-align: center;
        }

        p{
            flex: 3;
            color: grey;
        }

    }


    .bottom{
        display: flex;
        max-width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        gap: 70px;
        color: black;
        padding-bottom: 50px;
    }

}