.featuredProducts{
    margin-top: 100px;
    margin-bottom: 100px;
    background-image: url("https://images.pexels.com/photos/8832898/pexels-photo-8832898.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-size: cover;

    .top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 50px;
        
        h1{
            flex: 2;
            color: white;
            text-transform: capitalize;
        }

        p{
            flex: 3;
            color: grey;
        }

    }


    .bottom{
        display: flex;
        max-width: 100%;
        justify-content: center;
        flex-wrap: wrap;
        gap: 70px;
    }

}