@media (max-width:768px) {
    .featuredProducts{
        .top{
            padding-top: 2vw;
            text-align: center;
            display: block;
            p{
                padding-top: 2vw;
                padding-left: 2vw;
                padding-right: 2vw;
                color: aqua;
            }
        }
    }
}