
.signup{
    background: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    overflow: hidden;
    width: 80vw;
    height: 80vh;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 10%;


    .left{
        padding-left: 5%;
        height: 100%;
        width: 50%;


        .up{
            h2{
                margin-top: 15%;
            }
        }

        .down{
            margin-bottom: 10%;
            h1{
                margin-top: 10%;
            }
            h4{
                font-style: normal;
            }
            
        }


        form{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            label{
                font-size: 1.2rem;
            }
            
            label input{
                margin-top: 2%;
                width: 70%;
                background-color: transparent;
                border: none;
                border-bottom: 2px black solid;
                outline: none;
            }

            button{
                margin-top: 4%;
                margin-bottom: 4%;
                width: 70%;
                padding: 3%;
                font-size: 1rem;
                background-color: black;
                color: white;   
                border-radius: 5px;
                cursor: pointer;

            }
        }




    }

    .right{
        width: 90%;
        img{
            margin-top: 5%;
            width: 100%;
            margin-left: 5%;
            margin: auto;
        }
    }



    



}